* {
  margin: 0;
  padding: 0; }

.typeSeriff {
  font-family: Noto serif;
  font-size: 40px;
  color: white; }

.typeSans {
  font-family: varela round;
  font-size: 15px; }

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: #1f2250;
  background: linear-gradient(90deg, #1f2250 4%, #030233 100%);
  color: white;
  position: sticky;
  top: 0px;
  z-index: 9; }
  .head h1 {
    margin: 10px; }
    .head h1 img {
      width: 150px;
      margin-bottom: 10px; }
  .head .nav-link {
    color: white; }
  .head .nav-link:hover {
    color: #b2ab8c; }

#seccionPrincipal {
  height: 4000px;
  background-image: url("../media/fondob4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }
