@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Varela+Round&display=swap");
.head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: #1f2250;
  background: linear-gradient(90deg, #1f2250 4%, #030233 100%);
  color: white;
  position: sticky;
  top: 0px;
  z-index: 9; }
  .head a {
    max-width: 35%; }
    .head a .tituLogo h1 {
      margin: auto; }
    .head a .tituLogo img.logo {
      width: 35%;
      margin: 10px; }
  .head a:hover {
    color: #fff; }
  .head .nav-link {
    color: #fff; }
  .head .nav-link:hover {
    color: #b2ab8c;
    background-color: none; }
  .head .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.466); }
    .head .dropdown-menu .dropdown-item {
      color: white; }
    .head .dropdown-menu .nav-link:hover {
      color: #b2ab8c;
      background-color: none; }

.panel-video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75%;
  margin-top: auto;
  padding-top: 3vh;
  height: calc((100vh + 60px) - 25vw);
  position: relative; }

.panel-video video {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.panel-video .panel-video--espacio {
  margin-bottom: 3.75rem; }

.panel-video .panel-video__titulo {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -35px);
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  opacity: 0;
  width: 100%;
  text-transform: none;
  font-size: 2.875em;
  line-height: 1.0285;
  text-align: center;
  z-index: 1; }

#seccionPrincipal {
  background-image: url("../css/assets/fondob4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }

.title {
  color: white;
  height: 200px;
  padding: 25px;
  width: 100%;
  margin: auto;
  text-align: right;
  font-style: italic; }
  .title p {
    border-bottom: 1px solid white;
    padding: 10px; }

.title3 {
  color: white;
  height: 200px;
  padding: 55px;
  width: 75%;
  margin: auto;
  text-align: center;
  font-style: italic; }
  .title3 p {
    border-top: 1px solid white;
    padding: 10px; }

.title2 {
  color: white;
  height: 200px;
  padding: 55px;
  width: 75%;
  margin: auto;
  text-align: center;
  font-style: italic; }
  .title2 p {
    border-top: 1px solid white;
    padding: 10px; }

.tarjeta {
  text-align: left;
  padding: 1rem;
  margin: auto;
  width: 100%;
  text-align: justify;
  color: white;
  border-radius: 5px; }
  .tarjeta .cardImage {
    width: 50%;
    padding: 20px; }
  .tarjeta .tituloNosotros {
    font-size: 3em;
    margin: auto; }
  .tarjeta .textoNosotros {
    margin-top: 50px;
    font-size: 1.2em; }

#servicios {
  margin-top: 100px;
  height: 60rem; }
  #servicios .box {
    color: white;
    text-align: justify;
    margin: auto;
    padding: 30px; }
    #servicios .box img {
      width: 100%;
      border-radius: 5px; }
    #servicios .box span {
      font-size: 2em; }
    #servicios .box p {
      font-size: 1em; }

#activities {
  background-color: rgba(0, 0, 0, 0.466);
  color: white; }
  #activities .actividades {
    padding: 10px; }
    #activities .actividades ul li {
      list-style-type: none;
      font-size: 2em;
      padding: 20px; }
    #activities .actividades .carousel-inner img {
      width: auto;
      height: auto;
      transition: 0.9s all ease-in-out; }
    #activities .actividades .carousel-inner img:hover {
      transform: scale(1.5);
      padding: -250px; }
  #activities .carousel-inner img {
    width: auto;
    height: auto;
    transition: 0.5s all ease-in-out; }
  #activities .carousel-inner img:hover {
    transform: scale(1.5); }
  #activities .card-text {
    font-size: 1.5em;
    margin: 25px; }

.mapouter {
  position: relative;
  text-align: right;
  height: auto;
  margin: auto; }
  .mapouter .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: auto;
    width: auto;
    margin: auto; }

#seccionContacto {
  background-image: url("../css/assets/fondob4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }
  #seccionContacto form {
    width: 30%;
    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 15px;
    font-size: 20px;
    border-radius: 10px; }
    #seccionContacto form .btn {
      background-color: #1f2250;
      border: 0 none; }
    #seccionContacto form .btn:hover {
      background-color: #b2ab8c; }
    #seccionContacto form .btn:focus {
      background-color: #7e7964; }
    #seccionContacto form .modal-content {
      background-color: rgba(0, 0, 0, 0.664); }
    #seccionContacto form .modal-header {
      border-bottom: 0 none; }
    #seccionContacto form .modal-footer {
      border-top: 0 none; }

* {
  box-sizing: border-box; }

#seccionGaleria {
  background-image: url("../css/assets/fondob4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }

#contenedorImagenes .card {
  background-color: transparent;
  border: 0px; }
  #contenedorImagenes .card .btn-link {
    color: #fff;
    font-size: 1em;
    border: none;
    text-align: center; }
  #contenedorImagenes .card .btn-link:hover {
    text-decoration: none; }
  #contenedorImagenes .card .btn-link:active {
    box-shadow: none;
    border: none; }

.accordion {
  padding: 30px;
  margin: auto; }
  .accordion .card-header h2 {
    border-bottom: 1px solid #fff;
    color: white; }

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%; }
  .responsive div.gallery img {
    width: 100%;
    height: auto;
    padding-bottom: 12px;
    border-radius: 15px; }
  .responsive div.gallery img:hover {
    transform: scale(1.1);
    transition: 250ms linear; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0; } }

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%; } }

.foot {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13rem;
  background: #1f2250;
  background: linear-gradient(90deg, #1f2250 4%, #030233 100%);
  color: white;
  text-align: center; }
  .foot .footerText {
    padding: 20px;
    margin: auto; }
  .foot .footerLogos img {
    width: 3rem;
    padding: 5px;
    justify-content: start; }

@media all and (min-width: 360px) {
  .head h1 {
    display: none; }
  .head img {
    display: block;
    width: 100px;
    margin-bottom: 5px;
    margin: auto;
    padding: 5px; }
  a.typeSans {
    font-size: 10px; }
  #seccionPrincipal .textoBanner {
    font-size: 15px;
    max-width: 100%; }
  #seccionPrincipal .titulo2 p {
    font-size: 20px; } }

@media all and (min-width: 768px) {
  .head h1 {
    font-size: 25px;
    display: block; }
  .head img {
    display: block;
    width: 100px;
    margin-bottom: 5px;
    margin: auto;
    padding: 5px; }
  a.typeSans {
    font-size: 15px; }
  #seccionPrincipal .textoBanner {
    font-size: 15px;
    max-width: 75%; }
  #seccionPrincipal .titulo2 p {
    font-size: 1em; } }

@media all and (min-width: 960px) {
  #seccionPrincipal .textoBanner {
    font-size: 15px;
    max-width: 75%; }
  #seccionPrincipal .titulo2 p {
    font-size: 1.5em; } }

@media all and (min-width: 1280px) {
  .head h1 {
    font-size: 35px;
    display: block; }
  .head img {
    display: block;
    width: 125px;
    margin-bottom: 5px;
    margin: auto;
    padding: 5px; }
  .head #seccionPrincipal .textoBanner {
    font-size: 15px;
    max-width: 75%; }
  .head #seccionPrincipal .title2 p {
    font-size: 2em; } }

@media all and (min-width: 360px) {
  #seccionContacto .title3 {
    font-size: 1.3em;
    width: 100%; }
  #seccionContacto form {
    width: 80%;
    font-size: 1em; }
  #seccionContacto .mapouter .title3 {
    font-size: 1.3em;
    width: 100%; } }

@media all and (min-width: 768px) {
  #seccionContacto .title3 {
    width: 100%; }
  #seccionContacto form {
    width: 80%;
    font-size: 1em; }
  #seccionContacto .mapouter .title3 {
    font-size: 1.3em;
    width: 100%; } }

@media (max-width: 64em) {
  .panel-video,
  .panel-video {
    margin-bottom: 7.5rem; } }

@media (min-width: 25em) {
  .panel-video__titulo {
    max-width: 24ch; } }

@media screen and (min-width: 31.25em) {
  .panel-video__titulo {
    font-size: calc(2.875em + 1.625 * (100vw - 31.25em) / 41.875); } }

@media screen and (min-width: 73.125em) {
  .panel-video__titulo {
    font-size: 4.5em; } }

@media screen and (min-width: 31.25em) {
  .panel-video__titulo {
    font-size: calc(2.875em + 2.125 * (100vw - 31.25em) / 41.875); } }

@media screen and (min-width: 73.125em) {
  .panel-video__titulo {
    font-size: 5em; } }

@media all and (min-width: 360px) {
  .foot .footerText {
    font-size: 12px;
    position: relative;
    bottom: 0;
    left: 0; }
  .foot .footerLogos img {
    width: 2rem; } }

@media all and (min-width: 768px) {
  .foot .footerText {
    font-size: 1em;
    position: relative;
    bottom: 0;
    left: 0; }
  .foot .footerLogos img {
    width: 3rem; } }

* {
  margin: 0;
  padding: 0; }

.typeSeriff {
  font-family: Noto Seriff;
  color: white;
  font-size: 40px; }

.typeSans {
  font-family: Varela Round;
  color: white;
  font-size: 15px; }

.bgBlack {
  background-color: rgba(0, 0, 0, 0.466); }
