#seccionContacto {
    background-image: url('../css/assets/fondob4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    form {
        color: white;
        background-color: rgba(0, 0, 0, 0.466);
        padding: 15px;
        font-size: 20px;
        border-radius: 10px;
        .form-control{
            background-color: #0000008f;
            border: 1px solid #0000008f;
        }
        .btn {
            background-color: rgb(31, 34, 80);
            border: 0 none;
            margin: px;
        }
        .btn:hover {
            background-color: #b2ab8c;
        }
        .btn:focus,
        .btn:active {
            outline: none !important;
            box-shadow: none;
        }
        .modal-content {
            background-color: rgba(0, 0, 0, 0.664);
        }
        .modal-header {
            border-bottom: 0 none;
        }
        .modal-footer {
            border-top: 0 none;
        }
    }
}