* {
    box-sizing: border-box;
}

#seccionGaleria {
    background-image: url('../css/assets/fondob4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#contenedorImagenes {
    .card {
        background-color: transparent;
        border: 0px;
        .btn-link {
            color: #fff;
            font-size: 1em;
            border: none;
            text-align: center;
        }
        .btn-link:hover {
            text-decoration: none;
        }
        .btn-link:active {
            box-shadow: none;
            border: none;
        }
    }
}

.accordion {
    padding: 30px;
    margin: auto;
    .card-header h2 {
        border-bottom: 1px solid #fff;
        color: white;
    }
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    div.gallery img {
        width: 100%;
        height: auto;
        padding-bottom: 12px;
        border-radius: 15px;
    }
    div.gallery img:hover {
        transform: scale(1.1);
        transition: 250ms linear;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}