* {
    box-sizing: border-box;
}

#seccionGaleria {
    background-image: url('../css/assets/fondob4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    #contenedorImagenes {
        .imgGallery {
            padding: 10px;
        }
        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
            div.gallery img {
                width: 100%;
                padding: 10px;
                height: auto;
            }
            .clearfix:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}