* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    max-width: 1835px;
}

.typeSeriff {
    font-family: PlayFair Display;
    color: white;
}

.typeR {
    color: white;
    font-weight: 400;
    font-family: Poppins;
}

.typeIt {
    font-family: Poppins;
    font-style: italic;
    color: white;
}