// SECCION GALERIA
@media all and (min-width:1280px) {
    #contenedorImagenes {
        .title2 {
            font-size: 1.8em;
            width: 100%;
        }
        h2 {
            font-size: 1.8em;
        }
    }
}

@media only screen and (max-width: 768px) {
    #contenedorImagenes {
        .title2 {
            font-size: 1.3em;
            width: 100%;
        }
        h2 {
            font-size: 1.3em;
        }
    }
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

//
// SECCION CONTACTO
@media all and (min-width: 360px) {
    #seccionContacto {
        .title3 {
            font-size: 1.3em;
            width: 100%;
        }
        form {
            width: 100%;
            font-size: 0.8em;
            .form-group {
                width: 50%;
                margin: auto;
                .form-control {
                    font-size: 0.8em;
                }
            }
        }
        .mapouter {
            .title3 {
                font-size: 1.3em;
                width: 100%;
            }
        }
    }
}

@media all and (min-width: 768px) {
    #seccionContacto {
        .title3 {
            width: 100%;
            font-size: 1.2em;
        }
        form {
            width: 100%;
            font-size: 1em;
            .form-group {
                width: 50%;
                margin: auto;
                .form-control {
                    font-size: 1em;
                }
            }
        }
        .mapouter {
            .title3 {
                font-size: 1.5em;
                width: 100%;
            }
        }
    }
}

@media all and (min-width: 1280px) {
    #seccionContacto {
        .title3 {
            width: 100%;
            font-size: 1.8em;
        }
        form {
            width: 100%;
            font-size: 1em;
            .form-group {
                width: 30%;
                margin: auto;
            }
        }
        .mapouter {
            .title3 {
                font-size: 1.8em;
                width: 100%;
            }
        }
    }
}

//
//VIDEO BANNER
@media (min-width: 25em) {
    .panel-video__titulo {
        max-width: 24ch;
    }
}

@media screen and (min-width: 31.25em) {
    .panel-video__titulo {
        font-size: calc(2.875em + 1.625 * (100vw - 31.25em) / 41.875);
    }
}

@media screen and (min-width: 73.125em) {
    .panel-video__titulo {
        font-size: 4.5em;
    }
}

@media screen and (min-width: 31.25em) {
    .panel-video__titulo {
        font-size: calc(2.875em + 2.125 * (100vw - 31.25em) / 41.875);
    }
}

@media screen and (min-width: 73.125em) {
    .panel-video__titulo {
        font-size: 5em;
    }
}

//
// FOOTER
@media all and(min-width:360px) {
    .foot {
        .footerText {
            font-size: 12px;
            position: relative;
            bottom: 0;
            left: 0;
        }
        .footerLogos img {
            width: 2rem;
        }
    }
}

@media all and(min-width:768px) {
    .foot {
        .footerText {
            font-size: 1em;
            position: relative;
            bottom: 0;
            left: 0;
        }
        .footerLogos img {
            width: 3rem;
        }
    }
}

//
//