#seccionPaquetes {
    background-image: url('../css/assets/fondob4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#contenedorPaquetes {
    .title2 {
        font-size: 2em;
        font-style: normal;
    }
    .card {
        padding: 35px;
        margin-bottom: 5rem;
        border-radius: 0px;
        background-color: transparent;
        border: none;
        transition: 200ms linear;
        .card-body {
            border-radius: 10px;
            .card-title {
                font-size: 2em;
                border-bottom: 1px solid #fff;
            }
            .card-title2 {
                text-align: center;
                font-size: 2em;
                transition: 200ms linear;
            }
        }
        li {
            background-color: transparent;
            font-size: 1.2em;
        }
        img {
            border-radius: 10px;
        }
    }
    .card:hover {
        background-color: #b2ab8c;
        border-radius: 10px;
        .card-title {
            color: black;
            border-bottom: 1px solid #000;
        }
        .card-title2 {
            font-size: 3em;
            background-color: $bg-Black;
            border-radius: 10px;
            max-width: 80%;
            margin: auto;
        }
        .card-text {
            color: #000;
        }
        .list-group-item {
            color: black;
        }
    }
}

@media all and(min-width:768px) {
    .divCards {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .card-body {
        width: 100%;
    }
}

@media all and(min-width:1000px) {
    .divCards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}