//FONDOS
$bg-Black: rgba(0, 0, 0, 0.466);
$bg-Blue: rgb(31, 34, 80);
$bg-Blue-Gradient: linear-gradient(90deg, rgba(31, 34, 80, 1) 4%, rgba(3, 2, 51, 1) 100%);
//FUENTES
$seriff: Noto Seriff;
$sans: Varela Round;
//COLORES
$col1: #b2ab8c;
$col2: #7a7660;