.panel-video {
    min-width: 75%;
    margin-top: auto;
    padding-top: 3vh;
    height: calc((100vh + 60px) - 25vw);
    position: relative;
    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .panel-video--espacio {
        margin-bottom: 3.75rem
    }
    .panel-video__titulo {
        position: absolute;
        left: 50%;
        top: 46%;
        margin: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        opacity: 0;
        width: 30%;
        font-size: 4em;
        line-height: 1.0285;
        text-align: center;
        z-index: 1
    }
}