@import "variables";
@import "home";
@import "footer";
@import "mapa";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
}

.typeSeriff {
    font-family: $seriff;
    color: white;
    font-size: 40px;
}

.typeSans {
    font-family: $sans;
    font-size: 15px;
}

.bgBlack {
    background-color: $bg-Black;
}

.title3 {
    color: white;
    height: 200px;
    padding: 55px;
    width: 75%;
    margin: auto;
    text-align: center;
    font-style: italic;
    p {
        border-top: 1px solid white;
        padding: 10px;
    }
}